body{
    background:#E4E4E4;
}
select{
    
}
button{
    /* margin-top: .5em;
    margin-bottom: .5em; */
    margin: 0.5em 0.1em;
}
#commandButtons{
    float:right;
    max-width: 40em;
    margin-right: 2em;
    margin-top: 1em;
    text-align: center;
}
#rollResults{
    float:left;
    max-width: 40em;
    margin-left: 2em;
    margin-top: 1em;
    line-height: 1.5em;
    
}
#numShotsFiredDiv{

}
#clearResults{
    background: #ff725aeb;
}
.app{
    clear:right;
}
.title{
    margin: 10px 0px;
}
.hitp{
    margin: 5px;
    margin-top: 10px;
    padding-bottom: 4px;
    border-bottom: solid;
}